.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
  background: #3950ae1a;
  min-width: 0;
  min-height: 0;
}
.content {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: 100%;
  min-height: 0;
}
.sidebar__oARh6:global(.__wab_instance) {
  flex-shrink: 0;
}
.mainWrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  overflow: auto;
  min-width: 0;
  min-height: 0;
  padding: 16px;
}
.freeBox___3EWD {
  display: flex;
  position: relative;
  flex-direction: row;
  padding: 8px;
}
.freeBox___3EWD > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___3EWD > :global(.__wab_flex-container) > *,
.freeBox___3EWD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3EWD > :global(.__wab_flex-container) > picture > img,
.freeBox___3EWD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox___5LAlq {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___5LAlq > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___5LAlq > :global(.__wab_flex-container) > *,
.freeBox___5LAlq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5LAlq > :global(.__wab_flex-container) > picture > img,
.freeBox___5LAlq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text__qEn1U {
  position: relative;
  color: #061d7b /* plasmic-token: HNlv0A0HQ */;
  font-weight: 500;
}
.text__rmO01 {
  position: relative;
  color: #3950ae /* plasmic-token: 9Jx6sgv6X */;
}
.text__lzahG {
  position: relative;
  color: #3950ae /* plasmic-token: 9Jx6sgv6X */;
}
.dialog:global(.__wab_instance) {
  position: relative;
}
.dialog__hideAddButton:global(.__wab_instance) {
  display: none;
}
.filtersWrapper {
  display: flex;
  position: relative;
  flex-direction: row;
  padding: 8px;
}
.filtersWrapper > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.filtersWrapper > :global(.__wab_flex-container) > *,
.filtersWrapper > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.filtersWrapper > :global(.__wab_flex-container) > picture > img,
.filtersWrapper
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.filtersWrapper__hideFilters {
  display: none;
}
.filtersWrapper__type_reporting {
  display: flex;
  flex-direction: column;
}
.filtersWrapper__type_reporting > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.filtersWrapper__type_reporting > :global(.__wab_flex-container) > *,
.filtersWrapper__type_reporting
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.filtersWrapper__type_reporting
  > :global(.__wab_flex-container)
  > picture
  > img,
.filtersWrapper__type_reporting
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 8px;
}
.textInput:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.textInput__type_reporting:global(.__wab_instance) {
  display: none;
}
.svg___4JOk {
  position: relative;
  object-fit: cover;
  width: 18px;
  height: 18px;
  color: #061d7b /* plasmic-token: HNlv0A0HQ */;
}
.freeBox__eN5B5 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__type_reporting__eN5B5LnCaL {
  width: 300px;
}
.dateFilter:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.dateFilter__type_reporting:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.freeBox__eme5K {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 300px;
  flex-shrink: 0;
}
.freeBox__eme5K > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__eme5K > :global(.__wab_flex-container) > *,
.freeBox__eme5K > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eme5K > :global(.__wab_flex-container) > picture > img,
.freeBox__eme5K
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.statusFilter:global(.__wab_instance) {
  position: relative;
  min-width: 150px;
}
.statusFilter__type_reporting:global(.__wab_instance) {
  display: none;
}
.svg___7S8A5 {
  position: relative;
  object-fit: cover;
  color: #535353;
  width: 1em;
  height: 1em;
}
.requestFilter:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__wzYap {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
