.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px;
}
.text__e232Z {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  color: #061d7b /* plasmic-token: HNlv0A0HQ */;
}
.table:global(.__wab_instance) {
  position: relative;
}
.tableRow__sg67J:global(.__wab_instance) {
  position: relative;
}
.tableCell__kSfrC:global(.__wab_instance) {
  position: relative;
}
.tableCell__zcQCk:global(.__wab_instance) {
  position: relative;
}
.text__cmZDr {
  height: auto;
}
.tableCell__uoe4Z:global(.__wab_instance) {
  position: relative;
}
.tableCell__p6P1M:global(.__wab_instance) {
  position: relative;
}
.tableRow__vhMql:global(.__wab_instance) {
  position: relative;
}
.tableCell__pEybr:global(.__wab_instance) {
  position: relative;
}
.tableCell__h4DOe:global(.__wab_instance) {
  position: relative;
}
.tableCell__u4SEd:global(.__wab_instance) {
  position: relative;
}
.tableCell__fP6Tf:global(.__wab_instance) {
  position: relative;
}
.tableRow__zbrtR:global(.__wab_instance) {
  position: relative;
}
.tableCell__nZuvp:global(.__wab_instance) {
  position: relative;
}
.tableCell__q7XpC:global(.__wab_instance) {
  position: relative;
}
.text__jxPql {
  height: auto;
}
.tableCell__mjxat:global(.__wab_instance) {
  position: relative;
}
.tableCell__yp82A:global(.__wab_instance) {
  position: relative;
}
.text__mYeYm {
  width: auto;
  display: inline-block;
}
.tableRow__n6YZd:global(.__wab_instance) {
  position: relative;
}
.tableCell__tva44:global(.__wab_instance) {
  position: relative;
}
.tableCell__l0FNf:global(.__wab_instance) {
  position: relative;
}
.tableCell__fMa2F:global(.__wab_instance) {
  position: relative;
}
.tableCell__njYTy:global(.__wab_instance) {
  position: relative;
}
.text__qxXma {
  width: auto;
  display: inline-block;
}
