.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: auto;
  min-width: 0;
}
.userLayout:global(.__wab_instance) {
  position: relative;
}
.meetingRoomList:global(.__wab_instance) {
  position: relative;
}
.text__xjg02 {
  position: relative;
  color: #061d7b /* plasmic-token: HNlv0A0HQ */;
  font-weight: 500;
}
.text___5DMwI {
  position: relative;
  color: #3950ae /* plasmic-token: 9Jx6sgv6X */;
}
.text__u9PCp {
  position: relative;
  color: #3950ae /* plasmic-token: 9Jx6sgv6X */;
  height: auto;
}
