.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 16px;
}
.dateInput:global(.__wab_instance) {
  position: relative;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox > :global(.__wab_flex-container) > *,
.freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox > :global(.__wab_flex-container) > picture > img,
.freeBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text__hWlXq {
  height: auto;
  width: auto;
  display: inline-block;
}
.text__wXfJz {
  height: auto;
  width: auto;
  display: inline-block;
}
.typeInput:global(.__wab_instance) {
  position: relative;
}
.text__vbbZ3 {
  width: auto;
  display: inline-block;
}
.descriptionInput:global(.__wab_instance) {
  position: relative;
}
.text__eBYcB {
  width: auto;
  display: inline-block;
}
.approverInput:global(.__wab_instance) {
  position: relative;
}
