.root {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
  min-width: 0;
  min-height: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: flex-start;
  justify-content: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
  margin-top: 8px;
}
.listItem___80Ood:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.listItem___131X9:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.listItem__lzs2Z:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.listItem__lEmPf:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.listItem__b3S:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.listItem__sIAwl:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.listItem__fZaQj:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
