.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: auto;
  min-width: 0;
}
.freeBox__zcg7C {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: 100%;
  min-height: 0;
}
.columns {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  align-items: stretch;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    flex-direction: column;
    flex-column-gap: 0px;
  }
}
.column__twpMn {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__twpMn {
    width: auto;
  }
}
.img {
  position: relative;
  object-fit: cover;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__bSzLy {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__bSzLy {
    width: auto;
  }
}
.freeBox__madhQ {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  min-height: 0;
  padding: 16px;
}
.freeBox__yPfl {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__yPfl > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__yPfl > :global(.__wab_flex-container) > *,
.freeBox__yPfl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yPfl > :global(.__wab_flex-container) > picture > img,
.freeBox__yPfl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.link {
  position: relative;
}
.formWrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 80%;
  width: 70%;
  padding: 8px;
}
.formWrapper > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.formWrapper > :global(.__wab_flex-container) > *,
.formWrapper > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.formWrapper > :global(.__wab_flex-container) > picture > img,
.formWrapper
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__sC77 {
  position: relative;
  height: auto;
  color: #0d0c22 /* plasmic-token: kBDGa6r9j */;
  font-size: 24px;
  font-weight: 700;
}
.row {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.row > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.row > :global(.__wab_flex-container) > *,
.row > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.row > :global(.__wab_flex-container) > picture > img,
.row > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
}
.nameInput:global(.__wab_instance) {
  position: relative;
}
.usernameInput:global(.__wab_instance) {
  position: relative;
}
.text__iRa9I {
  height: auto;
}
.row2 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.emailInput:global(.__wab_instance) {
  position: relative;
}
.row3 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.row3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.row3 > :global(.__wab_flex-container) > *,
.row3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.row3 > :global(.__wab_flex-container) > picture > img,
.row3 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
}
.passwordInput:global(.__wab_instance) {
  position: relative;
}
.confirmPasswordInput:global(.__wab_instance) {
  position: relative;
}
.row4 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-width: 0;
}
.signUpButton:global(.__wab_instance) {
  position: relative;
  width: 120px;
  flex-shrink: 0;
}
