.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  background: #ffffff;
  overflow: auto;
  min-width: 0;
}
.adminLayout:global(.__wab_instance) {
  position: relative;
}
.text {
  position: relative;
  color: #061d7b /* plasmic-token: HNlv0A0HQ */;
  font-weight: 500;
  height: auto;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100%;
  min-height: 0;
}
.freeBox > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-height: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox > :global(.__wab_flex-container) > *,
.freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox > :global(.__wab_flex-container) > picture > img,
.freeBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.fleetByVehicalReport:global(.__wab_instance) {
  position: relative;
}
