.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.tableRow__qjXBc:global(.__wab_instance) {
  position: relative;
}
.tableCell__d6MCg:global(.__wab_instance) {
  position: relative;
}
.tableCell__pw9Vt:global(.__wab_instance) {
  position: relative;
}
.tableCell__sx4WQ:global(.__wab_instance) {
  position: relative;
}
.tableRow__znSxE:global(.__wab_instance) {
  position: relative;
}
.tableCell___2Y65J:global(.__wab_instance) {
  position: relative;
}
.tableCell___3Vsh:global(.__wab_instance) {
  position: relative;
}
.tableCell__bz3Ca:global(.__wab_instance) {
  position: relative;
}
.tableRow__hvFmR:global(.__wab_instance) {
  position: relative;
}
.tableCell__lcIbQ:global(.__wab_instance) {
  position: relative;
}
.tableCell__t5BrP:global(.__wab_instance) {
  position: relative;
}
.tableCell__fxq9Z:global(.__wab_instance) {
  position: relative;
}
.tableRow__rHwZ6:global(.__wab_instance) {
  position: relative;
}
.tableCell__f80Rs:global(.__wab_instance) {
  position: relative;
}
.tableCell__rCo6W:global(.__wab_instance) {
  position: relative;
}
.tableCell__gnczW:global(.__wab_instance) {
  position: relative;
}
