.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: auto;
  min-width: 0;
}
.freeBox___4KtHv {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: 100%;
  min-height: 0;
}
.columns {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  align-items: stretch;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    flex-direction: column;
    flex-column-gap: 0px;
  }
}
.column__zqThq {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__zqThq {
    width: auto;
  }
}
.img {
  position: relative;
  object-fit: cover;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__ua8S6 {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__ua8S6 {
    width: auto;
  }
}
.freeBox__cKl6K {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  background: none;
  min-height: 0;
  padding: 16px;
}
.freeBox__vkyRu {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__vkyRu > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__vkyRu > :global(.__wab_flex-container) > *,
.freeBox__vkyRu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vkyRu > :global(.__wab_flex-container) > picture > img,
.freeBox__vkyRu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.link {
  position: relative;
}
.formWrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 70%;
  height: 80%;
  padding: 8px;
}
.formWrapper > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.formWrapper > :global(.__wab_flex-container) > *,
.formWrapper > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.formWrapper > :global(.__wab_flex-container) > picture > img,
.formWrapper
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text___4LFs {
  position: relative;
  height: auto;
  font-size: 24px;
  font-weight: 700;
  color: #0d0c22 /* plasmic-token: kBDGa6r9j */;
}
.row {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.usernameEmailInput:global(.__wab_instance) {
  position: relative;
}
.text__m2Hiv {
  height: auto;
}
.row2 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.inputComponent:global(.__wab_instance) {
  position: relative;
}
.row3 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.text___7Rnkn {
  position: relative;
  height: auto;
  cursor: pointer;
}
.row4 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-width: 0;
}
.signInButton:global(.__wab_instance) {
  position: relative;
  width: 120px;
  flex-shrink: 0;
}
