.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.adminLayout:global(.__wab_instance) {
  position: relative;
}
.text__oTyKs {
  position: relative;
  color: #061d7b /* plasmic-token: HNlv0A0HQ */;
  font-weight: 500;
  height: auto;
}
.text__s9RCw {
  position: relative;
  color: #3950ae /* plasmic-token: 9Jx6sgv6X */;
}
.text__otpdm {
  position: relative;
  color: #3950ae /* plasmic-token: 9Jx6sgv6X */;
}
.requestList:global(.__wab_instance) {
  position: relative;
}
