.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.img__o8XKp {
  position: relative;
  object-fit: cover;
  width: 80px;
  height: 80px;
  flex-shrink: 0;
}
.img__o8XKp > picture > img {
  object-fit: cover;
}
.img__o8XKp > .__wab_img-spacer > img {
  object-fit: cover;
}
